@(link: Link)

<li id="link_@link.id" class="mlink">
    <div class="row" id="links">
        <div class="span1"><span class="label label-info">
            @if(link.url.matches("(?i).*informatik.uni-trier.de.*") || link.url.matches("(?i).*dblp.*")) {
                DBLP
            }
            @if(link.url.matches("(?i).*google.*")) {
                Wikipedia
            } else {
                Misc
            }
        </span></div>
        <div class="span5"><a href="link">@link.url</a></div>
        <div class="span1"><a href="#" onclick="deleteUrl(@link.id);"><i class="icon-remove"></i></a></div>
    </div>        
</li>

