@(link: Link)

<li id="link_@link.id" class="mlink">
    <div class="row" id="links">
        <div class="span1"><span class="label label-info">
			@if(link.label.trim().size == 0) {
	            @if(link.url.matches("(?i).*informatik.uni-trier.de.*") || link.url.matches("(?i).*dblp.*")) {
	                DBLP
	            } else {
	                @if(link.url.matches("(?i).*google.*")) {
	                	Wikipedia
		            } else {
		                Misc.
		            }
	            }
			} else {
			    @link.label
			}
        </span></div>
        <div class="span6"><a href="@link.url" target="_blank">@link.url</a></div>
        <div class="span1"><a class="btn btn-mini" href="#" onclick="deleteUrl(@link.id);"><i class="icon-remove-sign"></i></a></div>
    </div>
</li>

